//Importing fonts and setting variables
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$blue-box-shadow:1px 1px 11px rgb(77, 145, 255);
$neonBlue: #4d91ff;
$neonyellow: rgb(255, 252, 77);

//universal
*{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

//Setting the background color
body{
    font-size: 100%;
    color:rgb(255, 255, 255);
    background: linear-gradient(132deg, #2c2c2c, #000c32, #7b88ff);
    background-size: 400% 400%;
}

//setting the properties for every p (paragraph tag)
p{
    font-size:25px;
    color:rgb(255, 255, 255);
}

//Navigation begins below

.top-2{
    min-height: 100%;
    width:100%;
    float: left;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-2-text{
        max-width:600%;
        width: calc(100% - 40px);
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;

        //Depicts the width and height of the index.htl hero section text. vw and vh affect responsiveness (BE CAREFUL WHEN ADJUSTING )
        //I recommend to stay at 12vw & 9vh for this website, as it'll be unresponsive without it.
        .home-header{
            font-size: 12vw;
            font-size:9vh;
            text-shadow: 5px 5px 19px black;
        }
        .blue{
            color:$neonBlue;
        }

        .header-text-btn{
            max-width:200px;
            font-size:10vw;
            font-size:4vh;
            opacity:80%;
            &:hover{
                opacity:100%;
                cursor:pointer;
            }
            &:active{
                box-shadow: $blue-box-shadow; 
            }
            a{
                color:black;
                text-decoration: none;
            }
        }

        //Covid Api Search bar 
        .search-covid-api{

            outline:none;
            width:350px;
            height:45px;
            border-radius: 20px;
            box-shadow: $blue-box-shadow;
            border:none;
            font-size:24px;
            text-align:center;

        }
        .select-covid-api{
            outline:none;
            width:350px;
            height:45px;
            border-radius: 15px;
            box-shadow: $blue-box-shadow;
            border:none;
            font-size:25px;
            text-align: center;
            margin:20px;
        }
        .random-movie-btn{
            outline:none;
            width:350px;
            height:45px;
            border-radius: 15px;
            box-shadow: $blue-box-shadow;
            border:none;
            font-size:25px;
            text-align:center;
        }

        .movie-image-output{
            width:350px;
            height:45px;
        }
        .movie_image_title{

        }

        //Galaxy fold 280px
        @media screen and (max-width: 912px) {
            .select-covid-api{
                width:250px;
            }
            .search-covid-api{
                width:250px;
            }
            .random-movie-btn{
                width:200px;
                height:100px;
            }
            .movie-image-output{
                margin:30px;
                width:200px;
                height:205px;
            }
        }

        //653px - 915px
        //Galaxy fold 280px
        @media screen and (min-width:653px) and (max-width:654px){
            .select-covid-api{
                width:250px;
            }
            .search-covid-api{
                width:250px;
            }
            .random-movie-btn{
                width: 1000px;
            }
            .movie-image-output{
                margin:0px;
                width:400px;
                height:150px;
            }
        }
        @media screen and (min-width: 653px) and (max-width:915px){
            .select-covid-api{
                width:250px;
            }
            .search-covid-api{
                width:250px;
            }
            .random-movie-btn{
                width:300px;
                height:75px;
                font-size:3vw;
                font-size:2.3vh;
            }
            .movie-image-output{
                margin:10px;
                width:400px;
                height:150px;
            }
        }

        @media screen and (min-width: 913px) and (max-width:914px) {
            .select-covid-api{
                width:250px;
            }
            .search-covid-api{
                width:250px;
            }
            .random-movie-btn{
                width:200px;
                height:60px;
            }
            .movie-image-output{
                margin:10px;
                width:300px;
                height:155px;
            }
        }

        //Tablets
        @media screen and (min-width: 920px) and (max-width:1368px){
            .select-covid-api{
                margin:20px;
                width:550px;
                height:75px;
            }
            .search-covid-api{
                width:550px;
                height:75px;
            }
            .output-text{
                font-size:8vw;
                font-size:8vh;
            }
            .random-movie-btn{
                // width:550px;
            }
            .movie-image-output{
                margin:15px;
                width:400px;
                height:350px;
            }
        }
        //4k Monitor (minimum width)
        @media screen and (min-width: 1555px){
            .select-covid-api{
                width:1000px;
                height:100px;
                font-size:2vw;
            }
            .search-covid-api{
                width:1000px;
                height:100px;
                font-size:2vw;
            }
            .output-text{
                font-size:8vw;
                font-size:8vh;
            }
            .random-movie-btn{
                width:1000px;
            }
        }
        //4k Monitor (minimum height)
        @media screen and (min-height: 1555px){
            .select-covid-api{
                width:1000px;
                height:160px;
                font-size:6vw;
            }
            .search-covid-api{
                width:1000px;
                height:160px;
                font-size:6vw;
            }
            .output-text{
                font-size:8vw;
                font-size:8vh;
            }
            .movie-image-output{
                margin:30px;
                width:1000px;
                height:800px;
            }
            .movie_image_title{
                font-size:8vw;
                font-size:8vh;
            }
            .random-movie-btn{
                width:1000px;
                height:150px;
                font-size:4vw;
                font-size:4vh;
            }
        }

    }
}

.top{
    display: flex;
    align-items: center;
    height:49px;
    width:100%;
    background-color: black;
    color:whitesmoke;
    box-shadow: 1px 1px 6px $neonBlue;
    position: fixed;
    z-index:999;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:auto auto;
        max-width:1028px;
        width: calc(100% - 30px);
        height: 100%;

        span{
            color:yellow;
        }

        p{
            font-family: 'Lobster', cursive;
            font-size:28px;

            .landing-direct{
                text-decoration:none;
                color:white;
                
            }

            .landing-direct:hover{
                text-shadow: 1px 1px 30px $neonBlue;
                cursor: pointer;
            }
    
        }

        .navbar{
            display: flex;
            height:30px;
            
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    font-size: 1.9vw;
                    margin:5px 30px 0px 0px;
                    margin-top: -100px;
                    color: white;

                    &:hover{
                        text-shadow: 1px 1px 30px $neonBlue;
                        cursor: pointer;
                    }
                } 
            }
        }

        .ham{
            height: calc(100% - 39px);
            display: none;
        }
        //Mobile and Tablet
        @media screen and (max-width: 900px) {
            .ham{
                display:inline-block;
                max-width:30px;
                height:30px;

                &:hover{
                    cursor: pointer;
                }

            } 

            .navbar{
                display:none;
            }
        }
        //4K Monitor
        @media screen and (min-width: 1555px){
            .ham{
                display:inline-block;
                max-width:30px;
                height:30px;

                &:hover{
                    cursor: pointer;
                }

            } 

            .navbar{
                display:none;
            }
        }
    }
}

.popup{
    position:fixed;
    background: $neonBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:999;
    transition-duration: 1s;
    transition-property: transform;

    .ham-ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: transform 1s ease-in;
        transform: translate(-6000px, 0px);

        .close-popup{
            color:white;
        }
    }

    li{
        list-style: none;
        margin:10px;
        a{
            text-decoration: none;
            font-size: 8vw;
            font-size:6vh;
            color: black;
        } &:hover{
            font-weight: bold;
        }
    }
}

.disabled{
    display: none;
    background: black;
}